
@media (max-width: 950px) {
	.home {
		grid-template-columns: 1fr;
	}
	
	.lists {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	
	.list {
		grid-template-columns: 1fr 5fr;
	}
	
	.rel-art {
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.body.lock {
		overflow: hidden;
	}
	.header__link {
		font-size: 24px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		margin-right: 20px;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before {
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 55%;
		background-color: crimson;
		opacity: 0.7;
		padding: 50px 10px 20px 10px;
		transition: all 0.3s ease 0s;
	}
	.header__menu a {
		opacity: 1;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}
}

@media (max-width: 650px) {
	.lists {
		grid-template-columns: 1fr;
		border-bottom: 2px solid #ccc;
		margin: 30px;
	}
	.list {
		display: flex;
		flex-direction: column;
	}
	.list img {
		height: 80%;
	}
	.list a {
		text-align: center;
	}
	.next-link-pr-arrow-r::after{
		transform: translateY(-50%) rotate(-45deg);
		margin: -49% -7% 0% 100%;
	}
	.next-link-nx a {
		text-align: right;
	}
	.rel-art-item  {
		margin-bottom: 30xp ;
	}
	.back-to-top {
		width: 35px;
		height: 35px;
	}
}